# these will be specific to your computer so we dont want to clog github with
# all this junk
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/Temp
/UserSettings/

# unity will generate a bunch of meta files which we need not bother with
# backing up
*.pidb.meta
*.pidb

# there is a bunch of other misc junk that can be regenerated on the user side
/.vs/
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
.vscode/
.idea/
*.sln.iml
.DS_Store
Thumbs.db
desktop.ini
.gradle/
/Assets/Plugins/*.dll
/Assets/Plugins/*.pdb
/Assets/Plugins/*.mdb
*.tmp
*.temp
*.cache
*.bak
*.backup
*.generated.cs
sysinfo.txt
crashlytics-build.log
*.swp
*.lock

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
